
h1{
    text-align: center;
    background-color: aquamarine;
    border-radius: 500px;
}

#button{
    text-align: center;
    padding: 10px;
    background-color: aqua;
    border-radius: 100px;
    
}
.center{
    text-align: center;
    
}
p>img{
    padding: 10px;
    text-align: center;
    display: inline-flex;
    height: 100px;
}
